// share button
.wrapper {
	display: flex;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Kalpurush;
	font-weight: bold;
	color: #718096;
}

.btn svg {
  color: inherit;
  padding: 0;
  margin-left: 0.75rem;
  /* width: 1.25rem; */
  /* height: 1.25rem; */
  font-size: 1.5rem;
}

.btn svg:hover {
	background-color: unset;
	color: unset;
}

.btn_mobile {
	display: none;
}

.btn_web {
	display: flex;
}

@media only screen and (max-width: 767px) {
	.btn_mobile {
		display: flex;
	}
	.btn_web {
		display: none;
	}
}


// share modal
.root {
	display: block;
}

.backdrop {
	opacity: 0.9 !important;
}

.modal {
	width: 90%;
	max-width: 518px;
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 32px 32px;
	border-radius: 10px;
}

// close icon
.close {
  position: absolute;
  top: 1.75rem;
  right: 1.75rem;
  height: 30px;
  width: 30px;
  cursor: pointer;
  opacity: 0.65;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close:hover {
  opacity: 1;
}

// video close icon
.videoClose {
  position: fixed;
  top: 20px;
  right: 20px;
  height: 30px;
  width: 30px;
  cursor: pointer;
  opacity: 0.8;
  z-index: 1001;
}

.videoClose:hover {
  opacity: 1;
}

.videoClose::before,
.videoClose::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 12px;
  width: 3px;
  height: 30px;
  background-color: #fff;
  border-radius: 9999px;
}

.videoClose::before {
  transform: rotate(45deg);
}

.videoClose::after {
  transform: rotate(-45deg);
}

.title {
	font-size: 20px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px dashed var(--bdr11);
	line-height: 1;
	color: var(--txt12);
	font-family: Kalpurush;
}

.lists {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -5px;
}

.item {
	padding: 5px;
}

.item button {
	display: flex;
}

.item button svg {
	width: 48px;
	height: 48px;
}